{% extends 'base.html' %}

{% block content %}
    <h1>Funkcje</h1>

    <p>Funkcje w programowaniu powinny się nam kojarzyć z matematyką.</p>
    <p> Przykładem funkcji może być:</p>
    <p>f(x) = 2x</p>
    <p>  Taka funkcja przyjmuje jeden argument (x) i zwraca jego podwojoną wartość (2*x)</p>
    <img src="/static/img/1.jpg">

    <p>Definicję funkcji zaczynamy od "def", następnie podajemy jej nazwę</p>
    <img src="/static/img/2.jpg">

    <p>Aby funkcja zwróciła wartość należy użyć słowa "return"</p>

    <p>Warto również umieszczać informacje (zakomentować) o funkcji na początku funkcji, o tym o funkcja robi lub do czego służy</p>
    <img src="/static/img/3.jpg">

    <p>Jeszcze jeden przykład funkcji</p>
    <img src="/static/img/4.jpg">

{% endblock %}
