{% extends 'base.html' %}

{% block content %}

<style>


  .box-of-chocolates2 {
  width: 1000px;
  height: 1000px;
  padding: 10px 100px 20px 100px;
  margin: auto;
  background-color: #FFFAFA;
}
.border-box {
  box-sizing: border-box;
}
</style>

    <h1 align="center"><font size = 7>Funkcje</font></h1>
<div class="box-of-chocolates2">
    <p align="center">Funkcje w programowaniu powinny się nam kojarzyć z matematyką.</p>
    <p align="center"> Przykładem funkcji może być:</p>
    <p align="center">f(x) = 2x</p>
    <p align="center">  Taka funkcja przyjmuje jeden argument (x) i zwraca jego podwojoną wartość (2*x)</p>
    <center><img src="/static/img/1.jpg"></center>

    <p align="center">Definicję funkcji zaczynamy od "def", następnie podajemy jej nazwę</p>
    <center><img src="/static/img/2.jpg"></center>

    <p align="center">Aby funkcja zwróciła wartość należy użyć słowa "return"</p>

    <p align="center">Warto również umieszczać informacje (zakomentować) o funkcji na początku funkcji, o tym o funkcja robi lub do czego służy</p>
    <center><img src="/static/img/3.jpg"></center>

    <p align="center">Jeszcze jeden przykład funkcji</p>
    <center><img src="/static/img/4.jpg"></center>
</div>

{% endblock %}
