{% extends 'base.html' %}

{% block content %}
<style>


  .box-of-chocolates5 {
  width: 1000px;
  height: 180;
  padding: 10px 100px 20px 100px;
  margin: auto;
  background-color: #FFFAFA;
}
.border-box {
  box-sizing: border-box;
}
</style>

    <h1 align ="center">Podstawy programowania w Pythonie</h1>

<div class="box-of-chocolates5">
    <p align="center"><font size=4>A więc chcesz się nauczyć programować w Pythonie?
    <br>
  W takim razie trafiłeś/trafiłaś w dobre miejsce, ponieważ wyjaśnimy ci wszystko od podstaw!
<br>
Jednak dlaczego powinno się wybrać właśnie Pythona? Przede wszystkim jest on doskonałym językiem na początek przygody z programowaniem. Dlaczego? Jest naprawdę prosty i łatwy w zrozumieniu, a także bardzo popularny wśród języków programowania. W razie problemów dużo informacji na jego temat można znaleźć w internecie, jednak należy pamiętać, że najbardziej przydatna w takich sytuacjach jest znajomość języka angielskiego. Najwięcej porad w internecie (również na różnego rodzaju forach) znajdzie się właśnie w tym języku.
<br>
U nas w każdej zakładce masz opisane jedno zagadnienie z podstawowych informacji na temat Pythona. Składają się na nie głównie screeny z kodem oraz krótkie informacje na temat poszczególnych tematów. Na samym dole strony natomiast znajdziesz odnośniki do dodatkowych materiałów mogących być pomocą w zrozumieniu zagadnień.
<br>
Przez cały okres nauki warto również na bieżąco wczytywać się w informacje zawarte w <a href="https://docs.python.org/3.7/tutorial/index.html"><font color="black">dokumentacji Pythona</font></a></font>
<br>
<br>
<img src="/static/img/pytong.jpg"> <br>
<br>
</p></div>
{% endblock %}
