{% extends 'base.html' %}

{% block content %}
<h1>Początki</h1>
<p>Pracę w pythonie warto zacząć od pobrania i zainstalowania np. programu atom.
  Jest to edytor programistycznych kodów źródłowych, umożliwiający pisanie w wielu językach programowania.</p>
<img src="/static/img/atom.jpg">
<<h1>Instrukcje warunkowe</h1>
<p>Jeżeli mamy już program umożliwiający pisanie kodu, możemy zacząć programować w pythonie.
Pierwszym ważnym zagadnieniem są instrukcje warunkowe, służące do sprawdzenia prawdziwości wyrażenia warunkowego.
W zależności od tego czy wyrażenie warunkowe jest prawdziwe czy nie, wykonany zostanie inny fragment kodu.
<img src="/static/img/instrukcje1.jpg">
Jeśli jest kilka warunków do sprawdzenia wykorzystujemy polecenie elif. ”elif” jest skrótem od ”else if”
<img src="/static/img/instrukcje2.jpg"></p>

{% endblock %}
