{% extends 'base.html' %}

{% block content %}

<style>


  .box-of-chocolates {
  width: 1000px;
  height: 250px;
  padding: 10px 100px 20px 100px;
  margin: auto;
  background-color: #FFFAFA;
}
.border-box {
  box-sizing: border-box;
}
</style>

<h1 align="center">Liczby pseudolosowe</h1>
<div class="box-of-chocolates">
  <p align="center"> Liczby te nazywane są pseudolosowymi, ponieważ nie są generowane przez komputer w prawdziwie losowy sposób, lecz za pomocą wzoru matematycznego. Pozwalają one m.in. na dostarczenie elementu przypadku w tworzonym przez nas programie. Aby z nich skorzystać należy najpierw zaimportować moduł random (Moduły są to pliki, które zawierają kod przeznaczony do wykorzystywania w innych programach. W przypadku modułu random jest on odpowiedzialny za funkcję związane z generowaniem liczb pseudolosowych.).</p>
  </div>
<h2 align="center">Losowanie liczb zmiennoprzecinkowych</h2>
<div class="box-of-chocolates">
    <p align="center">Do losowania liczb zmiennoprzecinkowych służy funkcja random.random, która zwraca losową liczbę z zakresu od 0 do 1: # zdjecie #<br>
</div>
<h3 align="center">Losowanie liczb całkowitych</h3>
<div class="box-of-chocolates">
  <p align="center">Do losowania liczb całkowitych służy funkcja random.randint, która zwraca losową liczbę z podanego zakresu. Wymaga podania dwóch argumentów w postaci liczb całkowitych i zwraca losową liczbę całkowitą o wartości mieszczącej się w przedziale wyznaczonym przez argumenty do które one należą: # zdjęcie # <br>
  Liczbę całkowitą generuje również funkcja <b>randrange()</b>. Najprostszym sposobem na jej zastosowanie jest użycie pojedyńczego argumentu w postaci dodatniej liczby całkowitej. Wówczas wylosowana zostanie liczba całkowita z przedziału <b><0,liczba_w_argumencie></b>.</p>
  </div>

{% endblock %}
