{% extends 'base.html' %}

{% block content %}

<style>


  .box-of-chocolates {
  width: 1000px;
  height: 250px;
  padding: 10px 100px 20px 100px;
  margin: auto;
  background-color: #FFFAFA;
}
.border-box {
  box-sizing: border-box;
}

.box-of-chocolates2 {
width: 1000px;
height: 350px;
padding: 10px 100px 20px 100px;
margin: auto;
background-color: #FFFAFA;
}
.border-box {
box-sizing: border-box;
}

</style>

<h1 align="center"><font size = 7>Listy i słowniki</font></h1>
<h2 align="center"><font size = 5>Listy i krotki</font></h2>
<div class="box-of-chocolates2">
<p align="center"> Listy i krotki to złożone typy danych. Listy przechowują różne element poprzedzielane przycinkiem umieszczone w nawiasie kwadartowym. Elementy na liście mogą mieć różne typy.
  <br>
  <br>
  <img src="/static/img/listy1.jpg">
  <br>
  <br>
  <b>Listy</b> pozwalają na modyfikacje elementów, możemy podmienić element na liście. Listy są indeksowane (numerowane) od 0 – oznacza to, że żeby dostać się do pierwszego elementu musimy wpisać Lista[0]. Aby podmienić pierwszy element na liście wystarczy Lista[0] = 4.
  <br>
  <b>Krotki</b> to listy, które są niezmienne. Nie można zmodyfikować elementów zawartych w krotce. Krotka, tak jak stringi jest niemutowalna. Krotki umieszczamy w nawiasach okrągłych.
  <br>
  <br>
  <img src="/static/img/listy2.jpg">
  <br>
  <br>
  Możemy wyświetlić element w krotce wg jego indeksu Krotka[2], ale nie mamy możliwości jego bezpośredniej modyfikacji Krotka[2] = 12 (dostajemy błąd).</p>
  </div>
<h3 align="center"><font size = 5>Słowniki</font></h3>
<div class="box-of-chocolates">
<p align="center"> Słownik przechowuje dane w parach jako klucz : wartość , z czego klucz musi być niemutowalnego typu oraz unikalny w obrębie słownika (klucz nie może się powtarzać!).
  <br>
  <br>
  <img src="/static/img/listy3.jpg">
  <br>
  <br>
  Słownik jest strukturą nieuporządkowaną, w związku z czym nie można odwołać się do elementów słownika po indeksie. Jeśli istnieje klucz o wartości 0, otrzymamy wartość słownika jak w przykładzie powyżej niezależnie, którym z kolei elementem w słowniku jest para 0 : "zero". Warto wiedzieć, że jeśli spróbujemy przypisać wartości do nieistniejącego klucza, spowoduje to automatyczne powiększenie słownika – stworzenie takiego klucza i przypisanie mu wartości.</p>
</div>
<h4 align="center"><font size=4>Przydatne linki</font></h4>
<div style="text-align: center;">
  <ul style="display: inline-block;">
  <li><a href="https://www.youtube.com/watch?v=AEnCpGdhsaY"><font color="black">Film 1</font></a>
    <li><a href="https://www.youtube.com/watch?v=uu5-h1UIoLg"><font color="black">Film 2</font></a>
      <li><a href="https://docs.python.org/3.7/tutorial/introduction.html#lists"><font color="black">Więcej o listach</font></a>
        <li><a href="https://www.tutorialspoint.com/python/python_lists.htm"><font color="black">Jeszcze trochę o listach</font></a>
</ul>
</div>


{% endblock %}
